<% if @render_left_arrow %>
    <div class="arrow">
      <a href="?pageNumber=<%= @page_number - 1 %><%= "&gameCategory=" + @game_category %>"><img src="/assets/left_arrow.png" alt=""></a>
    </div>
<% else %>
  <div class="arrow">
    <img src="/assets/left_arrow.png" alt="">
  </div>
<% end %>

<ul>
  <% @page_quantity.times do |i| %>
    <% if @page_number == i + 1 %>
        <li><a href="?pageNumber=<%= i + 1 %><%= "&gameCategory=" + @game_category %>"><div class="breadcrumb-btn-outside breadcrumb-btn-active"></div></a></li>
    <% else %>
        <li><a href="?pageNumber=<%= i + 1 %><%= "&gameCategory=" + @game_category%>"><div class="breadcrumb-btn-outside"></div></a></li>
    <% end %>
  <% end %>
</ul>

<% if @render_right_arrow %>
    <div class="arrow">
      <a href="?pageNumber=<%= @page_number + 1 %><%= "&gameCategory=" + @game_category %>"><img src="/assets/right_arrow.png" alt=""></a>
    </div>
<% else %>
    <div class="arrow">
      <img src="/assets/right_arrow.png" alt="">
    </div>
<% end %>